 
.card
{
justify-content: right;
width: 50rem;
margin-left: 350px;
border-color:darkslategray;
border-radius: 10px;
background-color:ivory;
padding-bottom: 10px;
border-width: 2px;
margin-bottom: 10px;
}


.card-body{
    padding: 3rem 0 !important;
}
.card-text{
    font-size: 0.9rem;
    padding:0.4rem 1.9rem;
}
.container-fluid.row{
padding-top: 10rem;
}
.card-img-top{
    transform: scale(1);
}
.card-img-top:hover{
    transform: scale(1);      
    color:#546cbe;                                          
}    
.a{
  margin-left: 20px;
}                                        
.table,tr,td{
    color: rgb(rgb(132, 0, 255), rgb(0, 55, 128), rgb(41, 41, 77));
    padding-left:60px;
}
.table,tr,td,p{
    color:#546cbe;
}
.h4{
    color:indigo;
}
