input
{
    width: 500px;
    height: 40px;
    background-color: rgb(245, 245, 245);
    margin:10px;
    padding:8px;
    color: rgb(60, 0, 128);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:none;
    border-color: black;
    border-radius: 20px;
    font-size:  18px;
    font-weight:100;
    
}
.viper
{   margin-left: 300px;
    width: 400px;
    height: 40px;
}
textarea{
    width: 500px;
    height: 40px;
    background-color: rgb(245, 245, 245);
    margin:10px;
    padding:8px;
    color: rgb(60, 0, 128);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:none;
    border-color: black;
    border-radius: 20px;
    font-size:  18px;
    font-weight:100;
    
}
